/*Added 2 font families Agdasima for headings and Bacasime Antique for text */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Bacasime+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Bacasime Antique", sans-serif;
    font-weight: 600;
    color: #3a3a3a;
}

/* TITLE AND TOP CONTAINER */
#top-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title {
    font-weight: 700;
    font-size: 350%;
    margin: 2.5%;
}

h1,
h2 {
    font-family: "Agdasima", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
}

/* NAVIGATION BAR */



#nav-bar {
    letter-spacing: 2px;
    line-height: 50px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: solid 1px #3a3a3a;
}

.active {
    border-bottom: solid 1px #3a3a3a;
}

/* HOME PAGE SECTION ONE */
#section-one {
    display: flex;
    flex-direction: column;
}

#section-one-content {
    padding: 10%;
}

#section-one-content p {
    margin-top: 15px;
    word-spacing: 1px;
    letter-spacing: 0.25px;
}


/* HOME PAGE SECTION TWO */
#section-two {
    background-color: rgba(248, 210, 128, 0.8);
    letter-spacing: 0.25px;
    display: flex;
    flex-direction: column;
}


#section-two-content {
    padding: 15% 10% 10% 10%;
}

#section-two ul {
    list-style-type: circle;
    margin-top: 15px;
    padding-left: 12.5%;
}

#section-two li {
    margin-bottom: 10px;
}


/* Footer */
footer {
    text-align: center;
    margin: 25px;
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

footer a:hover {
    border-bottom: solid 1px #3a3a3a;
}

/* COPING MECHANISM PAGE */
#coping-mechanisms-section-one {
    background-color: rgba(248, 210, 128, 0.8);
    display: flex;
    flex-direction: column;
    padding: 12.5%;
    margin-top: 50px;
}

#types-of-treatment h2 {
    margin-bottom: 15px;
}

#types-of-treatment div {
    margin-bottom: 50px;
}

#types-of-treatment p {
    letter-spacing: 0.25px;
    word-spacing: 1px;
}

#treatment-video {
    display: flex;
    justify-content: center;
}

/* CONTACT US PAGE */
#contact-us-body {
    background-color: rgba(248, 210, 128, 0.8);
}

#contact-us-section-one {
    margin-top: 10%;
    min-height: 70vh;
}

input,
textarea {
    border: 1px solid #3a3a3a;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;

}

form label,
textarea,
input {
    margin-top: 10px;
    border-radius: 10px;
}

#submit {
    max-width: 150px;
}

/* THANK YOU PAGE */

#thank-you-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 55vh;
    margin-bottom: 20vh;
    padding: 2.5%;
}

#thank-you-message h2 {
    font-size: 200%;
}

#thank-you-message p {
    font-size: 70%;
    margin-top: 15px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 2560px) {
    #menu {
        visibility: hidden;
        position: absolute;
    }

    #menu-list {
        display: flex;
        justify-content: space-evenly;
    }

    #nav-bar ul {
        list-style: none;
    }
    #section-one-content, #section-two-content {
        padding: 7.5%;
    }
    #section-one-image {
        margin-left: auto;
    }
    #section-two-image {
        margin: auto;
    }
    img{
        max-width: 100%;
    }

    iframe {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    form {
        max-width: 70%;
    }
}

@media screen and (max-width: 428px) {
    #menu {
        visibility: visible;
        position: static;
    }

    #menu-list {
        max-height: 0;
        overflow: hidden;
        transition: 0.5s linear;
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a:focus+#menu-list {
        max-height: 15em;
    }
    a[href="menu"]:focus {
        pointer-events: none;
    }
    #submit {
        max-width: 100px;
    }
}