/*Added 2 font families Agdasima for headings and Bacasime Antique for text */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Bacasime+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bacasime Antique, sans-serif;
    font-weight: 600;
    color: #3a3a3a;
}

/* heading and logo*/
#top-container {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: 700;
    font-size: 480%;
    margin-left: 10%;
    margin-top: 10%;   

}

h1,
h2 {
    font-family: Agdasima, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* navigation links */


#nav-bar {
    font-size: 110%;
    letter-spacing: 4px;
   
}

#nav-bar,
#logo {
    line-height: 75px;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;

}

#nav-bar a:hover {
    border-bottom: solid 1px #3a3a3a;
}

.active {
    border-bottom: solid 1px #3a3a3a;
}

/* Home page background */

#home-page-background-img {
    background: 
    url("../images/home-page-background.jpg")
    no-repeat
    right top
    ;
    background-size: contain;
    min-height: 750px;
    margin-bottom: 75px;
}

#intro-text {
    padding-left: 15%;
    padding-top: 5%;
    letter-spacing: 1px;
    width: 50%;

}

#intro-text h2 {
    font-size: 225%;
    padding-bottom: 25px;
}
p {
    font-size: 125%;
    word-spacing: 2px;
}

hr {
    size: 1px;
}

/* Second section */

#section-two {
    min-height: 500px;
    background-color: rgba(254, 180, 132, 0.8);
    padding: 5% 10%;
    letter-spacing: 1px;
    position: relative;
}
#section-two p {
    width: 50%;
    font-size: 125%;
    
}
#section-two h2 {
    text-align: center;
    margin-bottom: 25px;
}

ul {
    list-style-type: circle;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 125%;
}

img {
    position: absolute;
    right: 15%;
    top: 15%;
    height: 500px;
    width: 600px;
   
}

footer {
    font-size: 125%;
    text-align: center;
    margin: 25px 0;

}
footer a {
    text-decoration: none;
    color: inherit;
    margin-right: 20px;

}

footer a:hover {
    border-bottom: solid 1px #3a3a3a;
}