/*Added 2 font families Agdasima for headings and Bacasime Antique for text */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Bacasime+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Bacasime Antique", sans-serif;
    font-weight: 600;
    color: #3a3a3a;
}

/* TITLE AND TOP CONTAINER */
#top-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title {
    font-weight: 700;
    font-size: 350%;
    margin: 2.5%;
}

h1,
h2 {
    font-family: "Agdasima", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
}

/* NAVIGATION BAR */
#menu-list {
    display: none;
}

header #nav-bar ul li:hover > ul {
    display: initial;
}

#nav-bar {
    letter-spacing: 2px;
    line-height: 50px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: solid 1px #3a3a3a;
}

.active {
    border-bottom: solid 1px #3a3a3a;
}

/* HOME PAGE SECTION ONE */
#section-one {
    display: flex;
    flex-direction: column;
}

#section-one-content {
    padding: 10%;
}

#section-one-content p {
    margin-top: 15px;
    word-spacing: 1px;
    letter-spacing: 0.25px;
    
}

#section-one-image img {
    width: 100%;
}


/* HOME PAGE SECTION TWO */
#section-two {
    background-color: rgba(248, 210, 128, 0.8);
    letter-spacing: 0.25px;
    display: flex;
    flex-direction: column;
}


#section-two-content {
    padding: 15% 10% 10% 10%;
}

#section-two ul {
    list-style-type: circle;
    margin-top: 15px;
    padding-left: 12.5%;
}

#section-two li {
    margin-bottom: 10px;
}

#section-two-image img {
    width: 100%;
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    letter-spacing: 1px;
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer a:hover {
    border-bottom: solid 1px #3a3a3a;
}

/* COPING MECHANISM PAGE */
#coping-mechanisms-section-one {
    background-color: rgba(248, 210, 128, 0.8);
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-top: 50px;
}

#types-of-treatment h2 {
    margin-bottom: 15px;
}

#types-of-treatment div {
    margin-bottom: 50px;
}

#types-of-treatment p {
    letter-spacing: 0.25px;
    word-spacing: 1px;
    line-height: 1.5rem;
}

#treatment-video {
    display: flex;
    justify-content: center;
}

/* CONTACT US PAGE */
#contact-us-body {
    background-color: rgba(248, 210, 128, 0.8);
}

#contact-us-section-one {
    margin-top: 10%;
    min-height: 70vh;
}

input,
textarea {
    border: 1px solid #3a3a3a;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;

}

form label,
textarea,
input {
    margin-top: 10px;
    border-radius: 10px;
}

/* THANK YOU PAGE */

#thank-you-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 55vh;
    margin-bottom: 20vh;
    padding: 2.5%;
}

#thank-you-message h2 {
    font-size: 200%;
}

#thank-you-message p {
    font-size: 70%;
    margin-top: 15px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 425px) {
    footer {
        margin-top: 25px;
        padding: 1.5%;
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) {
    /* HOME PAGE */
    header #nav-bar ul li:hover > ul {
        display: flex;
    }

    #menu-list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    #menu {
        display: none;
        position: absolute;
    }

    #section-one-image {
        max-width: 80%;
        margin-left: auto;
    }

    #section-two-image {
        max-width: 60%;
        margin: auto;
    }

    /* COPING MECHANISMS PAGE */
    iframe {
        width: 700px;
        height: 400px;
    }

    /* CONTACT US PAGE */
    #submit {
        max-width: 200px;
    }
    footer {
        font-size: 100%;
    }
    footer a {
        margin-right: 25px;
    }
}



@media screen and (min-width: 800px) {
    /* HOME PAGE */
    #section-one-image {
        max-width: 60%;
        margin-left: auto;
    }

    #section-two-image {
        max-width: 50%;
        margin: auto;
    }
     /* Changed padding for homepage and coping mechanisms page */
    #section-one-content, #section-two-content, #coping-mechanisms-section-one {
        padding: 5%;
    }

    #section-one, #section-two {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1024px) {
    /* HOME PAGE */
    #section-one, #section-two {
        flex-direction: row;
    }
    #section-two {
        padding: 2.5%;
    }

    #section-one-content, #section-two-content {
        max-width: 40%;
        padding: 2.5%;
        margin-left: 2.5%;
    }

    #section-two-image {
        max-width: 40%;
    }

}

@media screen and (min-width: 1440px) {
    /* HOME PAGE */
    #section-one-image {
        max-width: 45%;
    }

    #section-two-image {
        max-width: 30%;
    }

    /* CONTACT US PAGE */
    form {
        max-width: 50%;
    }

    footer {
        font-size: 100%;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 150%;
    }
    /* HOME PAGE */
    #section-one-image {
        width: 60%;
    }

    #section-two-image {
        max-width: 30%;
    }

    /* CONTACT US PAGE */
    form {
        max-width: 50%;
    }
}

